* {
    padding: 0px;
    margin: 0px;
    font-family: Serif;
}

body {
background-color: hsl(30, 54%, 90%);
display: flex;
justify-content: center;
min-width: 100vh;
  height: 100vh;
}

.First {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 10%;
}

.img {
    width: 300px;
    height: 150px;
    border-radius: 10px;
    width="300px" height="120px"
}

 .Next {
    background-color: White: hsl(0, 0%, 100%);
    display: flex;
    position: relative;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    padding: 70px;
    width: 100%;
    padding: 20px;
    /*
    margin: 100px;
    padding: 100px;
    item-align: center;
    width: 200px
    float: center;
    border-radius: 30px; */
} 

.Img {
padding-top: 3px;
padding-bottom: 10px;
margin-top: 3px;
margin-bottom: 10px;
}

.Prep {
    background-color: hsl(330, 100%, 98%);
    text-align: justify;
}

.time {
    color: hsl(332, 51%, 32%);